body {
	background-image: url(img/bgimg.jpg);
	/*background-size: cover;*/
	color: white
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.mainZoom {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.zoomin {
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

.zoomin img {
	width: 300px;
	height: 200px;
	transition: all 1s;
}

h1 {

	font-family: courier;
	font-size: 2em;
	border: 2px solid white;
	text-align: center;
	/*width: 400px;*/
	box-shadow: 4px 4px 5px #888888;
}

h2 {
	font-family: courier;
	border: 2px solid white;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
}

.container img {
	width: 300px;
	height: 200px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.2);
}

.zoomin:hover img{
	transform: scale(1.5);
}

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}